
  <% @search_results["results"].each do |search_result| %>
  <br>
   <h2 class="card-subtitle mb-2 text-muted"><%= search_result["company"]["name"] %></h2>
   <br>
   

   <h5 class="card-text"> <%= search_result["name"] %></h5>
   <br>
   <p class="card-text">Type: <%= search_result["type"] %></p>
   <br>
  <ul>
  <li class="card-subtitle mb-2 text-muted"><%= raw(search_result["contents"]) %>
  </li>
  </ul>

   <br>
   

   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Apply for Job</button>
  <br>

  
   

  <% end %>

